@font-face {
    font-family: 'HankenGrotesk-Bold';
    src: url('./assets/fonts/static/HankenGrotesk-Bold.ttf');
}

@font-face {
    font-family: 'HankenGrotesk-ExtraBold';
    src: url('./assets/fonts/static/HankenGrotesk-ExtraBold.ttf');
}

@font-face {
    font-family: 'HankenGrotesk-Medium';
    src: url('./assets/fonts/static/HankenGrotesk-Medium.ttf');
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    min-height: 100vh;
    padding: 0;
    border: 0;
    margin: 0;
}

#backdrop {
    width: 100%;
    min-height: 100vh;
    padding: 0;
    border: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

#card {
    width: 600px;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px 20px hsla(0, 1%, 63%, 0.3);
}

#results {
    flex: 1;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    padding: 2rem;
    height: 100%;
    font-family: 'HankenGrotesk-Medium';
}

#title {
    font-size: 18px;
    color: #ffffffb2;
    font-weight: 300;
}

#circle {
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 25px 0 15px 0;
}

#results-score {
    color: #fff;
    font-size: 60px;
    font-family: 'HankenGrotesk-ExtraBold';
}

#results-scale {
    color: #ffffff73;
    font-size: 14px;
}

#great {
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    margin: 10px 0;
}

#description {
    color: #ffffffb2;
    font-size: 16px;
    margin-top: auto;
}

#summary {
    flex: 1;
    height: 100%;
    border-radius: 0 20px 20px 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    font-family: 'HankenGrotesk-Medium';
}

#summary-title {
    font-size: 18px;
    color: hsl(224, 30%, 27%);
    font-family: 'HankenGrotesk-ExtraBold';
}

.bold {
    color: hsl(224, 30%, 27%);
    font-family: 'HankenGrotesk-ExtraBold';
}

#score-holder {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 15px;
    margin: 20px 0;
}

.score-row {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    align-items: center;
    border-radius: 10px;
    height: 40px;
    padding: 5px 10px;
    img {
        justify-self: center;
    }
}

.score-name {
    font-family: 'HankenGrotesk-Bold';
    margin-left: 5px;
}

.score-number {
    font-family: 'HankenGrotesk-Bold';
    color: rgb(128, 128, 128);
}

#reaction {
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%, 0.1);
}

#memory {
    color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 56%, 0.1);
}

#verbal {
    color: hsl(166, 100%, 37%);
    background-color: hsla(166, 100%, 37%, 0.1);
}

#visual {
    color: hsl(234, 85%, 45%);
    background-color: hsla(234, 85%, 45%, 0.1);
}

#continue {
    width: 100%;
    height: 50px;
    background-color: hsl(224, 30%, 27%);
    color: #fff;
    font-family: 'HankenGrotesk-Medium';
    font-size: 16px;
    border-radius: 25px;
    margin-top: auto;
    cursor: pointer;
}

#continue:hover {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

@media screen and (max-width: 600px) {
    #card {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        border-radius: 0;
        min-height: 750px;
    }

    #results {
        border-radius: 0 0 30px 30px;
        max-height: 375px;
        padding: 2rem 3rem;
    }

    #summary {
        padding: 1rem 2rem;
    }

    #continue {
        margin-top: 0;
    }

    .score-row {
        height: 50px;
    }
}